<DOCTYPE HTML>
<html>
	<head>
   	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title>ASAM TEQ</title>
        <link rel="stylesheet" href="../../assets/css/bootstrap.css" type="text/css">
         <link rel="stylesheet" href="../../assets/css/style.css" type="text/css">
         <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">
        <script src="../../assets/js/jquery.js" type="text/JavaScript"></script>
        <script src="../../assets/js/bootstrap.js" type="text/JavaScript"></script>
    </head>
 <body>
 <div id="navigation-section">
 	<div id="logo">
    	
    </div>
 	<div id="menu">
		<ul>
        	<li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Our Work</a></li>
            <li><a href="">Carrer</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="" class="btn btn-primary btn-md btn-style">Contact Us</a></li>
        </ul>
    </div>
 </div><!--eend of navigation section-->
 <div id="hero-image">
 	<div id="hero-text">
     	<h3>Welcome to Web Design & Development</h3>
       	<h1>Web Design & Development Services</h1>
        <h2>Creating solutions With More Features To Reach The Market Faster</h2> 
        <div id="info-box">
        	<h2>Get Free Quets<br>Contact to our site</h2>
        </div>
     </div>
        
    
    </div>
    
    
    </div>
 
 </div><!--end of hero image and text data-->
 
 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 
 
 
 
 
 
 </body>   
</html>
